::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  width: 5px;
  background: #43bbd5;
}
* {
  padding: 0px;
  margin: 0px;
  font-family: poppins;
  overflow-wrap: break-word;
}
body {
  display: grid;
  place-content: start center;
  align-items: start;
  gap: 20px;
  padding: 20px;
  height: 300vh;
  background: url(../img/fundo.svg);
}
h1 {
  font-size: 3rem;
  font-family: borel;
  color: #1b4c57;
  grid-column: 1/3;
  cursor: pointer;
  text-align: center;
}
h2 {
  font-size: 1.2rem;
  color: #43bbd5;
  background: white;
  padding: 10px 5px;
  border-radius: 5px 5px 0px 0px;
  cursor: pointer;
  border: 2px #1b4c57 solid;
  text-align: center;
  max-height: 4vh;
  overflow-y: auto;
}
.col-2 {
  display: grid;
  gap: 20px;
}
