@media (max-width: 678px) {
  .js .big-container.active section {
    grid-column: 1/-1;
  }
  body {
    gap: 100px;
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  .container .variavel {
    font-size: 1rem;
  }
  .container .definicao {
    font-size: 0.8rem;
  }
}
