#avatar {
  background: #000000;
  border-radius: 50%;
  padding: 1%;
  position: fixed;
  right: 20px;
  top: 20px;
  border: white 4px solid;
  transition: 0.4s ease-out;
  animation: animeBack 3s;
}
#avatar:hover {
  border: #00ffff 4px solid;
}

.big-container {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  gap: 10px;
  padding: 20px;
  margin: 0 auto;
  max-width: 50vw;
  width: 90vw;
  border-radius: 5px;
  background: linear-gradient(#95eafd, white);
  animation: animeBack 3s;
  transition: .5s ease-in-out;
}
.big-container:hover {
  max-width: 70vw;
}
@keyframes animeBack {
  from {
    opacity: 0;
    transform: translateY(40%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.big-container section {
  position: relative;
}
.big-container section .container {
  background-color: #1b4c57;
  color: rgb(228, 228, 228);
  border-radius: 0px 0px 5px 5px;
  max-height: 40vh;
  overflow-y: scroll;
  position: absolute;
  z-index: 2;
  width: 100%;
}

.container .variavel {
  color: #43bbd5;
  font-size: 1.2rem;
  margin-left: 10px;
  margin: 15px;
}
.container .variavel.obs {
  color: rgb(255, 167, 3);
}
.container .definicao {
  background-color: rgb(140, 140, 140, 0.5);
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  display: block;
}
.container .definicao:not(:last-child) {
  margin-bottom: 20px;
}
.container span {
  color: deeppink;
}
