body {
  display: grid;
  align-content: start;
  gap: 20px;
  padding: 20px 0px;
  height: 300vh;
}
h1 {
  font-size: 3rem;
  font-family: borel;
  color: #1b4c57;
  grid-column: 1/3;
  cursor: pointer;
  text-align: center;
}
h2 {
  font-size: 1.4rem;
  color: #43bbd5;
  background: white;
  padding: 20px;
  border-radius: 5px 5px 0px 0px;
  cursor: pointer;
  border: 2px #1b4c57 solid;
  text-align: center;
}
.big-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  gap: 10px;
  padding: 20px;
  margin: 0 auto;
  width: 90vw;
  border-radius: 5px;
  box-sizing: border-box;
  background: linear-gradient(
    30deg,
    #43bbd5,
    #43bbd5,
    #50dfff,
    #50dfff,
    #95eafd,
    #95eafd,
    white,
    #95eafd,
    #95eafd,
    #50dfff,
    #50dfff,
    #43bbd5,
    #43bbd5
  );
  background-size: 300%;
  animation: animeBack 20s linear infinite;
}
@keyframes animeBack {
  from {
    background-position: 0;
  }
  to {
    background-position: 300%;
  }
}

.big-container .container {
  background-color: #1b4c57;
  color: rgb(228, 228, 228);
  border-radius: 0px 0px 5px 5px;
  max-height: 400px;
  overflow-y: scroll;
  position: absolute;
  z-index: 2;
  width: 100%;
}
.container .variavel {
  color: #43bbd5;
  font-size: 1.2rem;
  margin-left: 10px;
  margin: 15px;
}
.container .variavel.obs {
  color: rgb(255, 167, 3);
}
.container .definicao {
  background-color: rgb(140, 140, 140, 0.5);
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  display: block;
}
.container .definicao:not(:last-child) {
  margin-bottom: 20px;
}
.container span {
  color: deeppink;
}

.big-container section {
  position: relative;
}
